@import "./node_modules/normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  
  --neutral-900: hsl(0, 0%, 7%);
  --neutral-800: hsl(0, 0%, 15%);
  --neutral-500: hsl(240, 3%, 46%);
  --neutral-400: hsl(240, 1%, 59%);
  --neutral-0: hsl(0, 0%, 100%);
  --blue-600: hsl(214, 100%, 55%);
  --blue-400: hsl(210, 100%, 65%);
  --red-500: hsl(354, 63%, 57%);
  
  --green-500: hsl(140, 63%, 57%);
  
  --yellow-400: hsl(49, 85%, 70%);
  --font-family:"Sora",sans-serif;
}
html{
  font-size: 62.5%;
}
body{
  background-color: var(--neutral-900);
  color: var(--neutral-0);
  font-family: var(--font-family);
  width: 100vw;
  overflow-x: hidden;
}

.header{
  display: flex;
  padding: 0.5rem 2.3rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  height: 10vh;
}
.personal-best-section{
  display: flex;
  gap: 5px;
}
.mobile-control{
  display: none;
}
.main{
  width: 100%;
  padding: 0.4rem 2rem;
}
.user-record-and-setting{
  margin-top: 1.2rem;
  display: grid;
grid-template-columns: 30% 70%;
font-size: 1.6rem;
justify-content: space-between;
  /*row-gap: 1.4rem;*/
color: var(--neutral-400);
padding: 1rem 1.3rem;
width:100%;
border-bottom: 1px solid var(--neutral-400);
}
.text-container{
  font-size: 2rem;
  text-align: left;
   
}
.text-area{
position: relative;  


}
.result{
  
  min-height: 90vh;
}
.start-typing{
  z-index: 1;
position: absolute;
top:50%;
left: 50%;
transform: translateX(-50%);

display: flex;
flex-direction: column;
gap: 10px;
}
.start-typing.display{
  display: none;
}

.container{
  display: flex;
  align-items: center;
gap: 2rem;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
}
.user-record{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;
  gap:1.2rem
}
.line{

height: 3rem;
width: 0.6px;
background-color:var(--neutral-400) ;


}
.dificult-control,.mode-control{
display: flex;
gap:12px;
justify-content: center;
align-items: center;
}
.btn{
  background-color: var(--neutral-900);
  color: var(--neutral-0);
  border: 1px solid var(--neutral-400);
  outline: none;
  padding: 0.4rem;
  font-weight: 300;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 7px;
  text-align: center;
  position: relative;
}
.text-container{
  color: var(--neutral-0);
  font-size: 3rem;
  padding: 1rem;
  position: relative;
  line-height: 4.4rem;
  filter: blur(4px);
}


.text-container.display{
  filter:blur(0px)
}
.start-btn{
  background-color: var(--blue-600);
padding: 0.9rem;
font-weight: 400;
width: 19rem;
margin: auto;

}
.start-prompt-text{
  text-align: center;

  font-size: 1.6rem;
  margin: auto;
}
textarea{
 top:0;
width: 100%;
height: 100%;
opacity: 0;
position: absolute;
  color: var(--neutral-400);
}
.detail-result{
  display: flex;
  justify-content: center;
  gap:12px;


}
span{
  color: var(--neutral-0);
}
@media  screen and (max-width:26.9rem) {
.dificult-control,.mode-control{
display: none;
}
.detail-result{
  display: block;
}
.mobile-control{
  
  width: 100%;
  margin: auto;
  display: flex;
  gap: 1rem;
  justify-content: center;
  position: relative;
  min-height: 6rem;

}
.mobile-control select{
  background-color: var(--neutral-900);
color: var(--neutral-0);
}
 .user-record-and-setting{
padding: 0;
display: grid;
grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  
}

.mobile-dificult-control{
  display: none;
position: absolute;
top:4.2rem;
background-color: var(--neutral-800);
left: 1rem;

z-index: 1;
border: none;
outline: none;
width: 40%;

}

.mobile-dificult-control.display,.mobile-mode-control.display{
  display: block;
}
.mobile-mode-control{
display: none;
position: absolute;
top:4.2rem;
background-color: var(--neutral-800);
right: 0;


z-index: 1;

}

.form-line{
margin-bottom: 1rem;
border-bottom: 4px solid var(--neutral-700);

}
input[type="radio"]{
  display: inline-block;
}
.difficultyBtn,.modebtn{
padding: 1rem;

width: 70%;

text-align: center;
border-radius: 10px;
height: 4rem;

}
}

@media screen and ( min-width:432px ) and ( max-width:950px){
.user-record-and-setting{
  display: grid;
  
grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr ;
  gap: 1.5rem;
  width: 100%;

}
.container{
  display: flex;

  align-items: center;
gap: 2rem;
  justify-content: center;
  width: 100%;
}

}
.btn-selected{
  border-color: var(--blue-600);
  color: var(--blue-600);
}
.result-section{
  position: relative;

min-height: 90vh;

}
.right-img{
  position: absolute;
  bottom:0;
  right: 0;
  display: block;
}
.heading-img{
  margin: auto;
  display: block;
  margin-bottom: 1.2rem;
  margin-top: 1rem;
}
.left-img{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
.result-heading{
margin: auto;
text-align: center;
color: var(--neutral-0);
margin-bottom: 1rem;
font-size: 3.5rem;
}
.paragraph-heading{
  text-align: center;
  color: var(--neutral-400);
margin-bottom: 0.9rem;
font-size: 1.6rem;
}
.accuracy-show,.wpm-show,.character-show{
  border: 1px solid var(--neutral-400);
  height: 7rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  padding: 10px 12px 50px 13px;
width: 1;
}
img[src="no"]{
  display: none;
}
.result-section  p {
margin-top: 9px;

}
.accuracy-show :nth-child(1),.wpm-show :nth-child(1),.character-show :nth-child(1){
color: var(--neutral-400);
}
.accuracy-show :nth-child(2){
  color: var(--red-500);
  font-weight: bold;
}
.restartBtn{
  color: var(--neutral-900);
  background-color: var(--neutral-0);
  padding: 1.4rem;
  margin: 12px auto;
  text-align: center;
  display: block;
  font-weight: 600;
}
.btn:focus::before{
  content: "";
  width: calc(100%);
  height: calc(100%);
  position: absolute;
  top: -2px;
  left: -2px;
  padding: 2px;
  outline: 2px solid var(--blue-600);
  border-radius: 7px;
  z-index: -1;
  background-color: var(--neutral-900);
}
